{% extends 'base.html' %}

{% block body %}

<h2>{{ the_title }}</h2>

<form method='POST' action='/login'>
<table>
<p>Enter username and password:</p>
<tr><td>Username:</td><td><input name='username' type='TEXT' width='1'></td></tr>
<tr><td>Password:</td><td><input name='password' type='TEXT'></td></tr>
</table>
<p>If you want to log in click this button:</p>
<p><input value='Log in!' type='SUBMIT' name='submit_button'></p>
<p>If you want to  sign up click this button:</p>
<p><input value='Sign up!' type='SUBMIT' name='submit_button'></p>
</form>

{% endblock %}